body {
  font-family: "Lato", sans-serif;
}

h2{
  font-size: 4rem;
  font-weight: bold;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color:aqua
}

.time {
  font-size: 2rem;
  padding: 5px;

}

.name {
  font-size: 2rem;
  padding: 5px;
}